@charset "utf-8";
/*@charset "utf-8";*/

/* CSS Reset 			----------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0}
fieldset{border:0}
img{ border: 0; }
address,caption,cite,code,dfn,em,th,var{font-weight:normal;font-style:normal}
strong, b{ font-weight: bold; }
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5{ padding: 0; margin: 0; }
h1,h2 { font-family: 微软雅黑, 华文细黑, 黑体, Arial; }
h1{ font-size: 24px;}
h2{ font-size: 18px; }
h3{ font-size: 14px;}
h4{font-size: 12px;}
h5{font-size: 12px;}
q:before,q:after{content:''}
abbr,acronym{border:0}
hr { margin: 0; padding: 0; border: 0; color: #CDCDCD; background-color: #CCC; height: 1px; }
blockquote{color:#666;font-style: normal;}
sup,sub{line-height:0}
abbr,acronym{border-bottom:1px dotted #666}
pre{white-space:pre;}
pre,code,tt{font:12px 'andale mono', 'lucida console', monospace;line-height:1.5}

/* Global Definitions ----------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,blockquote,th,td{ 
font-family:微软雅黑;/*font-family: Tahoma,Helvetica,Arial,sans-serif;*/ font-size: 12px; color: #333; line-height:1.5 }
p{ padding: 0 0 1em 0; line-height:1.5}
a{color:#333;text-decoration:none;}
a:hover{color:#436435;text-decoration:none;}
 
.L{float:left;}	.R{float:right;}	.H{display:none;}
#m_1,#m_2,#m_3,#m_4,#m_5,#m_6,#m_7,#m_8,#m_9,#m_10,#m_11{ min-height:10px;_height:10px;} 

.pd11{padding-top:5px;}    
.pd12{padding-top:10px;}
.pd13{padding-top:15px;}
.pd14{padding-top:20px;}
.pd15{padding-top:25px;}
.pd16{padding-top:30px;}

.pd21{padding-right:5px;}
.pd22{padding-right:10px;}
.pd23{padding-right:15px;}
.pd24{padding-right:20px;}
.pd25{padding-right:25px;}
.pd26{padding-right:30px;}

.pd31{padding-bottom:5px;}
.pd32{padding-bottom:10px;}
.pd33{padding-bottom:15px;}
.pd34{padding-bottom:20px;}
.pd35{padding-bottom:25px;}
.pd36{padding-bottom:30px;}

.pd41{padding-left:5px;}
.pd42{padding-left:10px;}
.pd43{padding-left:15px;}
.pd44{padding-left:20px;}
.pd45{padding-left:25px;}
.pd46{padding-left:30px;}

.mg11{margin-top:5px;}    
.mg12{margin-top:10px;}
.mg13{margin-top:15px;}
.mg14{margin-top:20px;}
.mg15{margin-top:25px;}
.mg16{margin-top:30px;}

.mg21{margin-right:5px;}
.mg22{margin-right:10px;}
.mg23{margin-right:15px;}
.mg24{margin-right:20px;}
.mg25{margin-right:25px;}
.mg26{margin-right:30px;}

.mg31{margin-bottom:5px;}
.mg32{margin-bottom:10px;}
.mg33{margin-bottom:15px;}
.mg34{margin-bottom:20px;}
.mg35{margin-bottom:25px;}
.mg36{margin-bottom:30px;}

.mg41{margin-left:5px;}
.mg42{margin-left:10px;}
.mg43{margin-left:15px;}
.mg44{margin-left:20px;}
.mg45{margin-left:25px;}
.mg46{margin-left:30px;}
.mg47{margin-left:35px;}
.mg48{margin-left:40px;}


.w5{width:5px;min-height:10px;_height:10px;font-size:1px;float:left;}
.w10{width:10px;min-height:10px;_height:10px;font-size:1px;float:left;}
.w15{width:10px;}
/* Grid 					----------------------------------------*/
.c24{width:950px;margin:0 auto;}
.c23{width:910px;margin:0 auto;}
.c25{width:990px;margin:0 auto;}
.half{ padding: 0 10px; }
.c100{margin:0 auto;overflow:hidden;width:1000px;}

.column,div.g1,div.g2,div.g3,div.g4,div.g5,div.g6,div.g7,div.g8,div.g9,div.g10,div.g11,div.g12,div.g13,div.g14,div.g15,div.g16,div.g17,div.g18,div.g19,div.g20,div.g21,div.g22,div.g23,div.g24,div.g25,div.g26,div.g27,div.g28,div.g29,div.g30,div.g31,div.g32,div.g33,div.g34,div.g35,div.g36,div.g37,div.g38,div.g39,div.g40,div.g41,div.g42,div.g43,div.g44,div.g45,div.g46,div.g47,div.g48,div.g49,div.g50,div.g51,div.g52,div.g53,div.g54,div.g55,div.g56,div.g57,div.g58,div.g59,div.g60,div.g61,div.g62,div.g63,div.g64,div.g65,div.g66,div.g67,div.g68,div.g69,div.g70,div.g71,div.g72,div.g73,div.g74,div.g75,div.g76,div.g77,div.g78,div.g79,div.g80,div.g81,div.g82,div.g83,div.g84,div.g85,div.g86,div.g87,div.g88,div.g89,div.g90,div.g91,div.g92,div.g93,div.g94,div.g95,div.g96,div.g97,div.g98,div.g99,div.g100,div.g725,div.g735{float:left;/* margin-right:10px*/ overflow:hidden; display:inline-block; *display:inline; *zoom:1;}


div.g_1p,div.g_2p,div.g_3p,div.g_4p,div.g_5p,div.g_6p,div.g_7p,div.g_8p,div.g_9p,div.g_10p,div.g_11p,div.g_12p,div.g_13p,div.g_14p,div.g_15p,div.g_16p,div.g_17p,div.g_18p,div.g_19p,div.g_20p,div.g_21p,div.g_22p,div.g_23p,div.g_24p,div.g_25p{float:left; margin-right:10px}
.g1{width:10px;}
.g2{width:20px;}
.g3{width:30px;}
.g4{width:40px;}
.g5{width:50px;}
.g6{width:60px;}
.g7{width:70px;}
.g8{width:80px;}
.g9{width:90px;}
.g10{width:100px;}
.g11{width:110px;}
.g12{width:120px;}
.g13{width:130px;}
.g14{width:140px;}
.g15{width:150px;}
.g16{width:160px;}
.g17{width:170px;}
.g18{width:180px;}
.g19{width:190px;}
.g20{width:200px;}
.g21{width:210px;}
.g22{width:220px;}
.g23{width:230px;}
.g24{width:240px;}
.g25{width:250px;}
.g26{width:260px;}
.g27{width:270px;}
.g28{width:280px;}
.g29{width:290px;}
.g30{width:300px;}
.g31{width:310px;}
.g32{width:320px;}
.g33{width:330px;}
.g34{width:340px;}
.g35{width:350px;}
.g36{width:360px;}
.g37{width:370px;}
.g38{width:380px;}
.g39{width:390px;}
.g40{width:400px;}
.g41{width:410px;}
.g42{width:420px;}
.g43{width:430px;}
.g44{width:440px;}
.g45{width:450px;}
.g46{width:460px;}
.g47{width:470px;}
.g48{width:480px;}
.g49{width:490px}
.g50{width:500px}
.g51{width:510px}
.g52{width:520px}
.g53{width:530px}
.g54{width:540px}
.g55{width:550px}
.g56{width:560px}
.g57{width:570px}
.g58{width:580px}
.g59{width:590px}
.g60{width:600px}
.g61{width:610px}
.g62{width:620px}
.g63{width:630px}
.g64{width:640px}
.g65{width:650px}
.g66{width:660px}
.g67{width:670px}
.g68{width:680px}
.g69{width:690px}
.g70{width:700px}
.g71{width:710px}
.g72{width:720px;}
.g73{width:730px;}
.g74{width:740px;}
.g75{width:750px;}
.g76{width:760px;}
.g77{width:770px;}
.g78{width:780px;}
.g79{width:790px;}
.g80{width:800px;}
.g81{width:810px;}
.g82{width:820px;}
.g83{width:830px;}
.g84{width:840px;}
.g85{width:850px;}
.g86{width:860px;}
.g87{width:870px;}
.g88{width:880px;}
.g89{width:890px;}
.g90{width:900px;}
.g91{width:910px;}
.g92{width:920px;}
.g93{width:930px;}
.g94{width:940px;}
.g95{width:950px;}
.g96{width:960px;}
.g97{width:970px;}
.g98{width:980px;}
.g99{width:990px;}
.g100{width:1000px; margin:0 auto;}
.g725{ width:725px;}
.g735{ width:735px;}
.g755{ width:755px;}


/*del last margin-right*/
.last,div.last{margin-right:0}
	/*for ie*/
	* html .column, * html div.g_1, * html div.g_2, * html div.g_3, * html div.g_4, * html div.g_5, * html div.g_6, * html div.g_7, * html div.g_8, * html div.g_9, * html div.g_10, * html div.g_11, * html div.g_12, * html div.g_13, * html div.g_14, * html div.g_15, * html div.g_16, * html div.g_17, * html div.g_18, * html div.g_19, * html div.g_20, * html div.g_21, * html div.g_22, * html div.g_23, * html div.g_24, * html div.g_25, * html div.g_26, * html div.g_27, * html div.g_28, * html div.g_29, * html div.g_30, * html div.g_31, * html div.g_32, * html div.g_33, * html div.g_34, * html div.g_35, * html div.g_36, * html div.g_37, * html div.g_38, * html div.g_39, * html div.g_40, * html div.g_41, * html div.g_42, * html div.g_43, * html div.g_44, * html div.g_45, * html div.g_46, * html div.g_47, * html div.g_48, * html div.g_49, * html div.g_50, * html div.g_51, * html div.g_52, * html div.g_53, * html div.g_54, * html div.g_55, * html div.g_56, * html div.g_57, * html div.g_58, * html div.g_59, * html div.g_60, * html div.g_61, * html div.g_62, * html div.g_63, * html div.g_64, * html div.g_65, * html div.g_66, * html div.g_67, * html div.g_68, * html div.g_69, * html div.g_70, * html div.g_71, * html div.g_72, * html div.g_73, * html div.g_74, * html div.g_75, * html div.g_76, * html div.g_77, * html div.g_78, * html div.g_79, * html div.g_80, * html div.g_81, * html div.g_82, * html div.g_83, * html div.g_84, * html div.g_85, * html div.g_86, * html div.g_87, * html div.g_88, * html div.g_89, * html div.g_90, * html div.g_91, * html div.g_92, * html div.g_93, * html div.g_94, * html div.g_95, * html div.g_96, * html div.g_97, * html div.g_98, * html div.g_99, * html div.g_100 { overflow-x:hidden; }	

	* html div.g_1p, * html div.g_2p, * html div.g_3p, * html div.g_4p, * html div.g_5p, * html div.g_6p, * html div.g_7p, * html div.g_8p, * html div.g_9p, * html div.g_10p, * html div.g_11p, * html div.g_12p, * html div.g_13p, * html div.g_14p, * html div.g_15p, * html div.g_16p, * html div.g_17p, * html div.g_18p, * html div.g_19p, * html div.g_20p, * html div.g_21p, * html div.g_22p, * html div.g_23p, * html div.g_24p, * html div.g_25p { overflow-x:hidden; }		
div.g26{ width:260px; float:right; overflow:hidden;}
div.g25{ width:250px; float:right; overflow:hidden;}
div.g755{ width:755px; float:right; overflow:hidden;}
/*clear fix*/
.c24:after, .c23:after, .c25:after {content: "\0020"; display: block; height: 0;clear: both; visibility: hidden; }
.c24, .c23, .c25 {zoom: 1;}
.clearfix:after {content: "\0020"; display: block; height: 0;clear: both; visibility: hidden; }
.clearfix {zoom: 1;} 
.clear{ clear: both; height: 0; font-size: 1px; line-height: 0px;}	
 /*------------公用样式------------*/
/*------top-------*/
 
.PG01{ clear:both;  margin: 0; padding: 25px 0 0px 0px; min-height: 20px; _height: 20px; text-align: right; }
.PG01 ul{}
.PG01 li{ display: inline; }
.PG01 li a{ color:#7e8676; text-decoration:none; }
.PG01 li a:hover{ color:#153f96; }
.PG01 .cr{ padding: 0 24px 0 0; color:#62685b;}
.PG01 .c1{}
.PG01 .c2{}
.PG01 .c3 {}
.PG01 .c4{padding: 0 24px 0 0;}
.PG01 .gt{ color:#62685b;}
.PG01 .gt select { font-size: 10px;}
 
.wrap_left{ width:222px; float:left; padding-right:0px; overflow:hidden;}
.wrap_right{ width:732px; float:right; overflow:hidden; border:1px solid #ecebeb; border-top:1px solid #f1f1f1; border-bottom:1px solid #d5d4d4; background:#fff; padding:4px 15px 10px 15px;    }
.wrap_right .con{ min-height:525px;_height:525px;}
.wrap_right .memcon{ min-height:295px;_height:295px; padding:0;}
/*------------article start-------------*/
 
.RST52_01 .ST52{  }
.RST52_01 .ST52 .content { font-size:12px; color:#7c7a7a;   }
.RST52_01 .ST52 .content p,.RST52_01 .ST52 .content ,.RST52_01 .ST52 .content div,.RST52_01 .ST52 .content td{ font-size:12px; color: #444; line-height: 22px;  }
.RST52_01 .ST52 .content a{color: #444; text-decoration:none;}
.RST52_01 .ST52 .content h3{ color:#444; font-size:12px; text-align:left; font-family:宋体;}
.RST52_01 .ST52 .content p{
	padding:0 0 1em 0;
	text-indent:0;
}
.RST52_01 .ST52 .content li{ color:#444;}
.RST52_01 .ST52 .content div table{ border-collapse:collapse;}
.RST52_01 .ST52 .content div table td div{ padding-left:5px;}
.RST52_01 .ST52 .content div table td{ white-space:nowrap;}
/*.RST52_01 .ST52 .content div,.RST52_01 .ST52 .content td{padding:0 0 10px 0;}*/
.ST51{}
.ST51 .body{}
.ST51 .core{clear: both;  }
.ST51 h3{ color:#333; font-size: 25px; font-family: 微软雅黑, 华文细黑, 黑体, Arial;  text-align: center; padding: 0px 0 15px 0; font-weight:normal; }
.ST51 h4{ font-size: 14px; font-weight: normal; font-family: 微软雅黑, 华文细黑, 黑体, Arial;  text-align: center; padding: 0 0 12px 0; }
.ST51 .source{ height: 30px; border-top: 1px dotted #ccc; border-bottom: 1px dotted #ccc; overflow: hidden; }
.ST51 .source ul{ margin: 0; padding: 0 0 0 0; text-align: center; color: #969696;  display:block;   padding-top:6px; }
.ST51 .source li{ display: inline; padding: 0 8px 0 8px; color:#969696; }
.ST51 .content { margin: 25px 0 0 0; } 
.ST51 .content p,.ST51 .content div{ color: #333; padding: 0 0 1em 0; line-height: 150%; }



.wrap_content2{ height:155px;}



.tips{ float:left; padding-top:4px; padding-left:4px;}
.tips em{ width:270px; position:absolute;}
.Circlebgcss{ float:left;}
.Circlebgcss1{ float:left; padding-right:10px;}
.list_R{ float:right;}
.list_L{ float:left; padding-top:0;}

/*----- 文本框公共样式结束 ------*/
 

.onfocusCss{ outline:none;height: 18px; border:1px solid #bbb;  width: 150px; padding:2px; color:#333; font-weight:normal;}
.onblurCss{border:1px solid #bbb; height:18px; width: 150px;padding:2px;color:#333;font-weight:normal; outline:none;}

.ip_form6{height: 18px; width: 100px; padding:2px; color:#666; font-weight:normal; border:1px solid #ccc;}
.ip_form5{border:1px solid #ccc; height:18px; width: 100px;padding:2px;color:#333;font-weight:normal;}

.onfocusCss1{ outline:none;height:18px; width: 100px;padding:2px;color:#333;font-weight:normal; border:1px solid #bbb;}
.onblurCss1{height: 18px; width: 100px;padding:2px; border:1px solid #bbb;color:#333;font-weight:normal;}
.width180{width: 390px; margin-bottom:15px; margin-top:10px;}
/*----- 验证码公共样式开始 ------*/
.yzmCss{ float:left; padding-top:0px; }
.yzmCss img{ height:24px; width:60px; cursor:pointer; }
.yzmCss a{ color:#666;padding-left:8px; position:relative; top:-7px;}
.yzmCss a:hover{ color:#0C419A; text-decoration:underline;}

 
.promptInfo{  font-size:14px; padding-bottom:18px;}
.titInfo{ font-size:12px; margin-top: 1px;margin-top: 2px\9; display:block; width:80px; float:left; text-align:right; padding-right:10px;}
.itemRight{ float:left; }
.Circlebgcss{ float:left;}
.Circlebgcss img{ float:left;}
.Circlebgcss input{ vertical-align:middle;}
.defaut_numfixds .defaut_btn,.defaut_numfixds .defaut_btn1{ display: block; margin: 10px 20px 0 0;_margin: 10px 15px 0 0\9;  color: #fff; text-decoration: none; float: left; width:80px; height:28px; padding:0; }
.defaut_numfixds .defaut_btn span,.defaut_numfixds .defaut_btn1 span{ display: block; background: url(img/sprbtn.gif) no-repeat 0 -72px; width: 80px; height:28px; padding:  0; cursor: pointer; text-align: center; line-height:28px; font-size:14px; font-weight:bold; } 
.defaut_numfixds a.defaut_btn:hover span,.defaut_numfixds a.defaut_btn1:hover span{ color:#fff;}
.defaut_numfixds .defaut_btnMagin{ margin-right:0;}
 
 
.employCss td{ padding:5px 5px; border:1px solid #eee; text-align:center;}
.disNone{display:none}

/*====顶部样式============*/
.c100{width:1000px;margin:0 auto;}
.header{padding-bottom:20px;height:145px;width:100%;overflow:hidden;background:url(img/hdbg.jpg) no-repeat center center;position:relative;}
.logo{width:109px;height:88px;overflow:hidden;position:absolute;top:12px;left:50%;margin-left:-62px;}
.logo img{width:109px;height:88px;}
.header .top-main{width:1000px;margin:0 auto;padding-top:8px;padding-bottom:54px;height:23px;overflow:hidden;}
.RST52_10{float:left;}
.share{float:left;color:#62964b;}
.bdsharebuttonbox{
    display: inline;
    float: left;
 
    height: 23px;
}
.share .bdshare-button-style0-24 .bds_tsina {width:18px;height:18px;margin:0;margin-left:5px;display:block;float:left;background:url(img/xl.png) no-repeat;padding:0;}
.share .bdshare-button-style0-24 .bds_tqq {width:18px;height:18px;margin:0;margin-left:5px;display:block;float:left;background:url(img/wb.png) no-repeat;padding:0;}
.share  span{float:left;line-height:23px;font-family:"宋体";}
.RSC01_01{width:202px;float:right;height:23px;}
.RSC01_01 .SC01{padding:0px 21px 0px 12px;width:169px;height:23px;background:url(img/scbg.png) no-repeat;position:relative;}
.RSC01_01 .SC01 .SC input{width:165px;padding:1px 0px;border:0;background:none;height:21px;line-height:21px;font-size:12px;font-family:"宋体";color:#375e24; outline:none;}
.RSC01_01 .SC01 a{display:block;width:18px;height:18px;position:absolute;top:3px;right:3px;}
