.onShow{
	background:url(../images/onShow.gif) no-repeat scroll 15px 0 ; 
	padding-left:45px; 
	position:absolute;
	line-height:20px; 
	vertical-align:middle;
	color:#707070;
	font-family:"微软雅黑";
	font-size:12px;
}
.onFocus{
	background:url(../images/onFocus.gif) no-repeat scroll 15px 0 ; 
	padding-left:45px; 
	position:absolute;
	line-height:20px; 
	vertical-align:middle;
	color:#707070;
	font-family:"微软雅黑";
	font-size:12px;
}
.onError
{
	background:url(../images/onError.gif) no-repeat scroll 15px 0 ; 
	padding-left:45px; 
	position:absolute;
	line-height:20px; 
	vertical-align:middle;
	color:#707070;
	font-family:"微软雅黑";
	font-size:12px;
}
.onCorrect
{
	background:url(../images/onCorrect.gif) no-repeat scroll 15px 0 ; 
	padding-left:45px; 
	position:absolute;
	line-height:20px; 
	vertical-align:middle;
	color:#707070;
	font-family:"微软雅黑";
	font-size:12px;
}
.onLoad
{
	background:url(../images/onLoad.gif) no-repeat scroll 15px 0 ; 
	padding-left:45px; 
	position:absolute;
	line-height:20px; 
	vertical-align:middle;
	color:#707070;
	font-family:"微软雅黑";
	font-size:12px;
} 

.formValidateTip
{
	/*word-wrap:break-word; 自动换行,在FF中对英文和数字无效*/
    position:absolute;
    /*width:250px;
    border:1px solid #a00;*/
    padding:10px;
    /*display:none; *//*我们先不要让它显示*/
	background:transparent;
}

.formValidateTip1
{
	/*word-wrap:break-word; 自动换行,在FF中对英文和数字无效*/
    position:absolute;
    /*width:250px;
    border:1px solid #a00;
    padding:10px;*/
    /*display:none; *//*我们先不要让它显示*/
	background:transparent;
}